*{
	margin: 0px;
	padding: 0px;
}
@media only screen and (min-width: 950px){
	#container{
		width: 900px;
		height: 670px;
		background-color: #609C4D;
		border-style:solid;
		border: 1px;
		border-color: black;
		margin: 0px auto; 
	}
	#header_top{
		height: 200px;
		width: 100%;
		background-color: #609C4D;
	}
#logo{
height: 100px;
background-image: url("reminder.gif");
background-repeat: no-repeat;
padding: 0px;
margin-left: 10px;
	}
	#header_top h1{
		text-align: center;
margin-top: -40px;
font-size: 25px;

			}
#navbar ul{
				margin-top: 60px;
			}
	#navbar ul li{
		display: inline;
		margin-left: 15px;
	}
	#navbar a{
		color: white;

		text-decoration: none;
	}
	#middle_section{

	}
}
